<div class="card-columns">  <div *ngFor="let champion of champions">
    
   
        <div class="card">
            <div class="card-header bg-primary text-light">{{champion.name}} ({{champion.title}})</div>
            <div class="card-body">
                {{champion.score}} ELO
                <br />
                <br />

                <div class="container">
                    <img src={{champion.avatar}} (click)="onDisplayChampion(champion)"/>
                    <br/>
                    <span id="nbGames" >{{champion.numberOfGames}} games</span>
                </div>

                

            </div>
        </div>
  
</div>
</div>