@import "../common/scss/variables";

.card-columns {
    column-count: 4;
}

img {
    cursor: pointer; 
}

#nbGames {
 padding-left: 4em;
}

.card {
      background-color : $card_background_color;
  }
  
  .card-header {
      
      background-color: $card_header_background_color !important;
  }

  @media screen and (max-width: 480px) {
    
    .card-columns {
        column-count: 1;
    }
    
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .card-columns {
        column-count: 2;
    }
    
    
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    
    .card-columns {
        column-count: 3;
    }
    
    
}

@media screen and (min-width: 1201px) {
    
    .card-columns {
        column-count: 4;
    }
    
    
}