#message 
{
    color : red; font-weight: bold ;
}

label 
{
    font-weight: bold ;
    padding-left: 2em;;
}

.btn 
{
    width: 120px;
    margin-left: 15px;
   
}

#registered 
{ 
    font-style: italic;
    font-weight:normal
}