<div id="myHeader"
[style.background-color]="service.favoriteBackgroundColor"
[style.color]="service.favoriteFontColor"
>
    <div form-group>
        <div ><h1>ArchiDuChess</h1></div>
        <div *ngIf=userLogged>
           
            <a class="link" [routerLink]="['/games']"> Games</a> &nbsp;
            <a class="link" [routerLink]="['/champions']"> Champions</a> &nbsp;
            <a class="link" [routerLink]="['/login']"> Sign out</a> &nbsp;
            <!-- <a class="link" [routerLink]="['/options']"> Options</a> &nbsp; -->
            
           
        </div>

        <div *ngIf=!userLogged>
           
            <a class="link" [routerLink]="['/games']"> Games</a> &nbsp;
            <a class="link" [routerLink]="['/champions']"> Champions</a> &nbsp;
            <a class="link" [routerLink]="['/login']"> Login</a> &nbsp;
            <!-- <a class="link" [routerLink]="['/options']"> Options</a> &nbsp; -->
            
           
        </div>



    </div>
</div>
