<div id="myHeader"
[style.background-color]="service.favoriteBackgroundColor"
[style.color]="service.favoriteFontColor"
>
    <div form-group>
        <div class="col-sm-8"><h1>ArchiDuChess</h1></div>
        <div class="col-sm-8">
           
            <a [routerLink]="['/games']"> games</a> &nbsp;
            <a [routerLink]="['/champions']"> champions</a> &nbsp;
            <a [routerLink]="['/login']"> login</a> &nbsp;
            <a [routerLink]="['/options']"> options</a> &nbsp;
            
           
        </div>
    </div>
</div>
