@import "../common/scss/variables";

#myFooter {
    background-color: $background_color !important; 
    text-align: right; 
    font-weight: bold; 
    color : $title-color !important; 
    font-style: italic;
}