@import "../common/scss/variables";

#message 
{
    color : red; font-weight: bold ;
}

label 
{
    font-weight: bold ;
    padding-left: 8em;;
}

.btn 
{
    width: 120px;
    margin-left: 15px;
    background-color: $button_back_color !important;

}

#registered 
{ 
    font-style: italic;
    font-weight:normal
}

input 
{
    
}