@import "../common/scss/variables";


@mixin styling($board_size) {
    
#board1 { 
    width: 5*$board_size

    
}

.white-1e1d7 {
    background-color: $color_light_squares !important;
    color: $color_dark_squares !important;
  }
  
.black-3c85d {
    background-color: $color_dark_squares !important;
    color: $color_light_squares !important;
  }

.btn-secondary {
    width : $board_size;
   
    background-color :  $color_dark_squares;
    color: $color_light_squares;
}

#tmoves {
    width : 1.25*$board_size;
    background-color: $color_light_squares;
    margin-left: auto;

}

#divtmoves { 
    width : 1.5*$board_size;
    height: 5*$board_size ;
    overflow-y: auto;
    
}

.table-striped {
    background-color: $color_light_squares;
}

.thead-light {
    background-color: $color_dark_squares ;
}

#trmoves {
     cursor: pointer; 
}


.thmoves {
    color : white;
    text-align: center;
}

#backToUser {
    margin-left : 29rem;
    margin-top : 1em;
    background-color: $button_back_color;
}

.cell {
    color : black;
}

.cell:hover {
    background-color : rgb(58, 128, 0) !important;
    color : white;
}

.card {
    background-color : $card_background_color;
}

.card-header {
    
    background-color: $card_header_background_color !important;
    height: 6em;
    
}

.myOption:hover {

    background-color: $card_header_background_color !important;
    color: white !important;
}

.myOption:checked
{
    background : $card_header_background_color !important;
    background-color: $card_header_background_color !important;
    color: white !important;
}




}


@media screen and (max-width: 480px) {
    
    @include styling($board_size: 40px);
    .card-header {
        height: 4em; 
    }
    
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    @include styling($board_size: 60px);
 
    .card-header {
        height: 4em; 
    }
    
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    @include styling($board_size: 80px);
    
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    @include styling($board_size: 100px);
    
    
}

@media screen and (min-width: 1201px) {
    
    @include styling($board_size: 120px);
    
    
}